QListWidget
{
	outline: 0px;
	background-color: #EEEEEE;
}
QListWidget:item:hover
{
    background-color: #D9D9D9;
    border: 0px;
}
QListWidget::item:selected {
    border: 0px;
	background-color: #CCCCCC;
}